@import "./styles/button.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply text-cyan-700;
  }
}

@layer utilities {
  btn-secondary {
    background-color: tomato;
    padding: 4px;
    border-radius: 50%;
  }
}
